body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 700px;
  height: 600px;
}

h1 {
  color: #333;
  font-size: 32px;
  margin-bottom: 20px;
}

label {
  color: #555;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

select {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
}

button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

img {
  max-width: 100%;
  max-height: 300px; 
  width: auto;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
}

.footer {
  margin-top: 20px;
  color: #090909;
}

a {
  padding: 10px;
  margin: 5px;
  background-color: #0db34a;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
}

a:hover,
a:active {
  background-color: #77810a;
  color: #fff;
}
